<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description | escape }}">
  <link rel="stylesheet" href="/assets/css/style.css">
  
  <!-- Primary Meta Tags -->
  <title>KOSTEM_MY</title>
  <meta name="title" content="KOSTEM" />
  <meta name="description" content="Koperasi Sumber Terbuka Selangor Bhd (KOSTEM) is a trusted provider of open-source training, certification, and services for public-sector and enterprise organizations, delivering expert programs that boost skills, ensure compliance, and drive innovation." />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.opencoop.org/" />
  <meta property="og:title" content="KOSTEM" />
  <meta property="og:description" content="Koperasi Sumber Terbuka Selangor Bhd (KOSTEM) is a trusted provider of open-source training, certification, and services for public-sector and enterprise organizations, delivering expert programs that boost skills, ensure compliance, and drive innovation." />
  <meta property="og:image" content="https://www.opencoop.org/assets/images/kostem1.png" />

  <!-- X (Twitter) -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://www.opencoop.org/" />
  <meta property="twitter:title" content="KOSTEM_MY" />
  <meta property="twitter:description" content="Koperasi Sumber Terbuka Selangor Bhd (KOSTEM) is a trusted provider of open-source training, certification, and services for public-sector and enterprise organizations, delivering expert programs that boost skills, ensure compliance, and drive innovation." />
  <meta property="twitter:image" content="https://www.opencoop.org/assets/images/kostem1.png" />

</head>

<header class="site-header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="{{ '/assets/images/kostem.svg' | relative_url }}" alt="KOSTEM Logo" />
      </a>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav class="site-nav">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <!--li><a href="#pricing">Pricing</a></li-->
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </div>
</header>

<body>
  <main>
    {{ content }}
  </main>

  <footer>
    &copy; {{ site.time | date: "%Y" }} Koperasi Sumber Terbuka Selangor Bhd (KOSTEM) B-4-1028 — All rights reserved.
  </footer>
</body>

</html>